@import 'components/theme-definition';

.searchInputContainer {
  position: relative;
  display: inline-block;

  .searchInput {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    font-weight: 300;
    color: $theme-text-color-white;
    margin-left: 6px;
    padding-right: 24px;
    width: 240px;
    @media (max-width: $smGap) {
      width: 180px;
    }
  }

  .closeButtonContainer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    .icon {
      color: $theme-text-color-white;
    }
  }
}

.text {
  margin-left: 6px;
  color: unset !important;
}
