@import 'components/theme-definition';

.rootContainer {
  position: relative;
  padding: 32px;
  @media (max-width: $smGap) {
    padding: 12px;
  }

  & > * {
    max-width: 720px;
    margin: 0 auto 32px auto;
  }

  .article {
    .header {
      margin-bottom: 16px;

      .thumbnail {
        margin-top: 12px;
      }

      .summary {
        margin: 32px 0;
        padding: 0 48px;
        font-weight: bold;
      }
    }

    .articleSection {
      img {
        width: 150%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        max-width: unset !important; // github-markdown.css设置了100%
        cursor: zoom-in;

        @media (max-width: 1080px) {
          // img 150%的width
          width: 130%;
        }

        @media (max-width: 936px) {
          // img 130%的width
          width: 100%;
        }
      }
    }
  }
}

.imageOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 114514;
  cursor: zoom-out;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
