.button {
  background-color: transparent;
  border: 1px solid var(--backgroundVariant);
  color: var(--backgroundVariant);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 8px 18px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 300ms;
  
  &:hover,
  &:focus {
    background-color: var(--backgroundVariant);
    color: var(--colorVariant);
  }
}
