@import 'components/theme-definition';

.rootContainer {
  display: flex;
  flex-direction: row;
  @media (max-width: $smGap) {
    flex-direction: column;
  }

  .avatarContainer {
    margin-right: 12px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 250px;
    max-width: 400px;
    @media (max-width: $smGap) {
      margin-bottom: 12px;
    }
  }

  .infoContainer {
    flex-grow: 1;
    text-align: center;

    .metaContainer {
      margin-bottom: 12px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .meta {
        & > *:last-child {
          margin-left: 4px;
        }

        &:not(:last-child) {
          margin-right: 18px;
        }
      }
    }
  }
}
