.textButton {
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

.logoutButton {
  padding-left: 8px;
}

.split {
  cursor: default;
}

.buttonContainer {
  padding-top: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.warningIcon {
  padding-right: 8px;
}

.userIcon {
  padding-right: 4px;
}
