.container {
  color: #f8f9fa;
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    display: inline-block;
    margin-right: 8px;
  }

  .textButton:hover,
  .textButton:focus {
    background-color: #151518;
  }

  .split {
    cursor: default;
    color: #f8f9fa;
  }

  .buttonContainer {
    padding-top: 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .username {
    font-size: 14px;
    color: #b8b8b8;
  }
}
