@import 'components/theme-definition';

.articleCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 20px;

  @media (max-width: $smGap) {
    grid-template-columns: 1fr;
  }
}
