@import 'components/theme-definition';

.rootContainer {
  padding: 32px;
  @media (max-width: $smGap) {
    padding: 12px;
  }

  & > * {
    max-width: 920px;
    margin: 0 auto 24px auto;
  }

  .authorInfoContainer {
    padding: 24px 48px 24px;
    @media (max-width: $smGap) {
      padding: 12px 24px 12px;
    }
  }
}
