@import 'components/theme-definition';

.articleInfoContainer {
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .meta {
    font-size: 0.9rem;
    color: $text-grey;

    .date {
      margin-left: 8px;
    }
  }

  .title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}
