@import 'components/theme-definition';

.rootContainer {
  width: 100%;
  height: 100%;

  .textContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      padding-right: 12px;
    }
  }
}
