@import 'theme-definition';

.rootContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .mainSection {
    flex-grow: 1;
    overflow-x: hidden;
  }

  .footerSection {
    padding: 24px 16px;
    background: $theme-color;
    color: $theme-text-color-grey-white;
    font-weight: normal;

    .sectionContainer {
      max-width: 800px;
      padding: 0 24px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .section {
        margin-bottom: 12px;

        &:not(:last-child) {
          margin-right: 24px;
        }

        .title {
          color: $theme-text-color-white;
          margin-bottom: 6px;
          font-size: 0.9em;
        }

        .list {
          list-style: none;
          padding-left: 0;
          margin-bottom: 0;
          font-size: 0.9em;

          li > a {
            color: unset;
          }

          .logoContainer {
            display: flex;
            align-items: flex-start;

            .logo {
              display: inline-block;
              width: auto;
              height: 60px;
            }

            .intro {
              height: 60px;
              margin-left: 8px;
              display: inline-flex;
              flex-direction: column;

              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
