@import 'theme-definition';

.rootContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header {
    display: flex;
    align-items: center;
    padding: 0 24px;
    background: #1a1a1f;

    @media (max-width: 500px) {
      padding: 0 12px;
      display: grid;
      grid-template-areas:
        'a c'
        'b b';

      .logo {
        grid-area: a;
      }

      .nav {
        grid-area: b;
        justify-self: center;
      }

      .userStatus {
        grid-area: c;
        justify-self: right;
      }
    }

    .logo {
      flex: none;
      display: block;
      max-height: 30px;
      padding: 8px 0;
    }

    .nav {
      margin: 0 24px;
      flex: 1;

      @media (max-width: 768px) {
        margin: 0 8px;
      }
    }

    .userStatus {
      flex: none;
    }
  }

  .mainSection {
    flex-grow: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  .footerSection {
    padding: 24px 16px;
    background: $theme-color;
    color: $theme-text-color-grey-white;
    font-weight: normal;

    .sectionContainer {
      max-width: 800px;
      padding: 0 24px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .section {
        margin-bottom: 12px;

        &:not(:last-child) {
          margin-right: 24px;
        }

        .title {
          color: $theme-text-color-white;
          margin-bottom: 6px;
          font-size: 0.9em;
        }

        .list {
          list-style: none;
          padding-left: 0;
          margin-bottom: 0;
          font-size: 0.9em;

          li > a {
            color: unset;
          }

          .logoContainer {
            display: flex;

            .logo {
              flex: none;
              display: block;
              width: auto;
              height: 60px;
            }

            .intro {
              flex: 1;
              margin-left: 8px;
              max-width: 200px;
            }
          }
        }
      }
    }
  }
}
