@import 'theme-definition';

a,
a:link,
a:visited,
a:hover,
a:active {
  color: $link-color;
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.anticon {
  // https://github.com/ant-design/ant-design-icons/issues/7
  // 但是在本项目中需要设置正值的0.125em才能对齐，而且在不同浏览器上显示效果依然有区别
  // 目前尚不清楚原因
  vertical-align: 0.125em;
}

button .anticon {
  padding-right: 8px;
}

.markdown-body {
  color: $text-color-article-black;
}

.badge {
  font-weight: normal;
}

.card {
  overflow: hidden !important;
}

.modal-body {
  padding: 24px;
}

.modal-title {
  margin-bottom: 0 !important;
}

code {
  color: unset !important;
}

p {
  margin-bottom: 8px;
}
