@import 'theme-definition';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  font-weight: 300;
}

.link-63 {
  outline: transparent;
  position: relative;
  font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system,
    BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  border: 0px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 0px 8px;
  border-radius: 0px;
  height: 44px;
  color: rgb(50, 49, 48);
  background-color: transparent;
  line-height: 44px;
  margin-right: 8px;
  user-select: none;
}

header {
  .ms-Pivot-text {
    color: #f8f9fa !important;
  }

  .ms-Pivot-link:hover {
    background-color: #151518 !important;
  }

  .ms-Button-label {
    color: #f8f9fa !important;
  }

  @media (max-width: 576px) {
    .ms-Pivot-text {
      font-size: 12px !important;
    }

    .ms-Pivot .ms-Button {
      margin-right: 0;
    }
  }
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: $link-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-bottom: 16px;
}
