@import 'theme-definition';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  font-weight: 300;
}

header {
  .ms-Pivot-text {
    color: #f8f9fa !important;
  }

  .ms-Pivot-link:hover {
    background-color: #151518 !important;
  }

  .ms-Button-label {
    color: #f8f9fa !important;
  }

  @media (max-width: 576px) {
    .ms-Pivot-text {
      font-size: 12px !important;
    }

    .ms-Pivot .ms-Button {
      margin-right: 0;
    }
  }
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: $link-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.anticon {
  // https://github.com/ant-design/ant-design-icons/issues/7
  // 但是在本项目中需要设置正值的0.1em才能对齐，而且在不同浏览器上显示效果依然有区别
  // 目前尚不清楚原因
  vertical-align: 0.1em;
}

button .anticon {
  padding-right: 8px;
}

.markdown-body {
  color: $text-color-article-black;
}

code {
  word-wrap: break-word;
  color: unset !important;
}

p {
  margin-bottom: 16px;
}
