$xlGap: 1200px;
$lgGap: 992px;
$mdGap: 768px;
$smGap: 576px;

$theme-color: #212529;
$theme-color-lighter: #3c3c3c;
$theme-color-blue: #006fe6;
$theme-color-light-blue: #388be3;
$theme-text-color-white: snow;
$theme-text-color-grey-white: #b8b8b8;
$theme-text-color-dark-white: #949494;

$link-color: #4381ab;
$text-color-article-black: rgba(0, 0, 0, 0.84);
$text-grey: rgba(0, 0, 0, 0.45);
$text-dark-grey: rgba(0, 0, 0, 0.7);
