@import 'components/theme-definition';

.rootContainer {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 8px;
  background: url('https://sysumsc-website.oss-cn-shenzhen.aliyuncs.com/website-resource/puzzle-background.jpg')
    $theme-color fixed center / cover no-repeat;

  .centerContainer {
    margin: 0 auto;
  }
}
