@import 'components/theme-definition';

.rootContainer {
  padding: 32px;
  @media (max-width: $smGap) {
    padding: 24px 12px 12px;
  }

  & > * {
    max-width: 920px;
    margin: 0 auto 24px auto;
  }

  .title,
  .description {
    text-align: center;
  }

  .title {
    margin-bottom: 8px;
  }

  .description {
    max-width: 400px;
  }
}
