@import 'components/theme-definition';

.rootContainer {
  color: $theme-text-color-grey-white;
  padding: 24px 48px;
  border-radius: 12px;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba($theme-color, 0.7);
  @supports not ((backdrop-filter: saturate(180%)) and (backdrop-filter: blur(20px))) {
    background-color: rgba($theme-color, 0.9) !important;
  }
  max-width: 680px;
  margin-bottom: 48px;

  .alertContainer {
    a {
      color: $theme-text-color-white;
      text-decoration: underline;
    }
  }

  .title {
    text-align: center;
    color: $theme-text-color-white;
    margin-bottom: 24px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .progressTitle {
    margin-bottom: 0;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
