@import 'components/theme-definition';

.rootContainer {
  color: $theme-text-color-grey-white;
  padding: 24px 48px;
  border-radius: 12px;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba($theme-color, 0.45);
  @supports not ((backdrop-filter: saturate(180%)) and (backdrop-filter: blur(20px))) {
    background-color: rgba($theme-color, 0.72) !important;
  }
  text-align: center;
  max-width: 380px;
  margin-bottom: 48px;

  .title {
    font-size: 28px;
    color: $theme-text-color-white;
    margin-bottom: 24px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
    letter-spacing: 2px;
  }

  .sayingContainer {
    margin-bottom: 32px;

    .saying {
      margin-bottom: 0;
    }
  }

  .problemsContainer {
    margin-bottom: 32px;

    .info {
      margin-bottom: 8px;
    }

    .problemButton {
      margin-bottom: 18px;
    }
  }

  .footer {
    font-size: 12px;

    & > * {
      margin: 0;
    }

    & > *:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
